<div class="row">
    <div class="col-xs-5 card">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Name</mat-card-title>
              <mat-card-subtitle>Desc</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                    Ingrediants Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta culpa cum ipsum repellat in officiis, cumque dolores, optio, rerum quasi eligendi commodi consectetur consequatur iure quibusdam illo? Exercitationem a error nostrum perspiciatis nam optio quisquam, fugiat, tempora neque eum dolor provident expedita tempore. Voluptatum doloribus accusamus reprehenderit amet quos itaque tenetur ipsum quisquam consequuntur asperiores doloremque iste, quo iure, ad dignissimos odio blanditiis perspiciatis 
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>To shopping list</button>
              <button mat-button>EDIT</button>
              <button mat-button>Delete</button>
            </mat-card-actions>
          </mat-card>
          
    </div>
</div>
