<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Easy Food</a>
        </div>

        <div class="nav navbar-nav navbar-right"><a href="#">Recipes</a></div>
        <div class="nav navbar-nav navbar-right"><a href="#">Shopping List</a></div>

        <div class="dropdown nav navbar-nav">
            <button class="dropbtn">Manage</button>
            <div class="dropdown-content">
              <a href="#">Save Data</a>
              <a href="#">Fetch Data</a>
           
            </div>
        </div> 
        
           
        
    </div>
    </nav>